@import 'Variables.scss';

#main{
    border: solid lightgray;
    border-width: 0px 1px;
    margin: 0px 10%;
    padding: 0px 2rem;

    height: minmax(100vh, auto);

    background-color: gray; //test, shouldn't be here
}

#nav-bar{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    height: $nav-height;
    background-color: gray; //test, shouldn't be here
}

@mixin navLinks(){
    display: flex;
    align-items: center;
    height: 100%;
}

@mixin mobileNavLinksExtension(){
    flex-direction: column;
    position: fixed; 
    top: 4rem;
    right: 0px; //4rem;
    width: 33vw;
    background-color: $nav-slider-background-color;
}

#nav-links{
    @include navLinks();
}

.nav-link{
    margin-right: 1.5rem;
    color: $nav-ui-color;
    text-decoration: none;
}

#hamburger-toggle{
    display: none;
    //height: $nav-height/2;
    height: 50%;
    align-self: center;
}

@media screen and (max-aspect-ratio: 3/4){
    #main{
        margin: 0px 0px;
    }
    
    #nav-links{
        @include navLinks();
        @include mobileNavLinksExtension();

        transform: translateX(100%);
        transition: transform 0.1s ease-in;
    }

    .nav-link{
        margin-top: 2rem;
    }

    #hamburger-toggle{
        display: block;
    }

    #nav-links-active{
        @include navLinks();
        @include mobileNavLinksExtension();

        transform: translateX(0%);
        transition: transform 0.1s ease-out;
    }
}
