$nav-ui-color: white;
$nav-height: 3rem;
$nav-slider-background-color: rgb(0, 128, 53);
$standard-border-color: lightgray;

$main-color: #1fdeb0;
$main-light-color: #57ffd6;

$complementary-color: #DE1F4D;
$complementary-light-color: #ff577f;

$blog-container-inner-horizontal-padding: 1rem;

$nav-bar-horizontal-padding: 1.5rem;
